{% macro breadcrumb(title, account) %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Admin</a></li>
        {% if account %}
            <li><a href="{{ path('admin_account', {'id': account.id}) }}">{{ account.name }}</a></li>
        {% endif %}
        <li>{{ title }}</li>
    </ol>
{% endmacro %}


{# -- ACCOUNTS -- #}
{% macro listAccounts(accounts) %}
    {% for account in accounts %}
        {{ _self.accountBlock(account) }}
    {% endfor %}
{% endmacro %}

{% macro accountBlock(account) %}
    <div class="col-lg-4">
        <h3>{{ account.name }}</h3>

        <p>Account #<b>{{ account.id }}</b>, contains <b>{{ account.projects|length }}</b>
            project{% if account.projects|length != 1 %}s{% endif %}</p>

        <p><a href="{{ path('admin_account', {'id': account.id}) }}" class="btn btn-default btn-sm">Details &raquo;</a>
        </p>
    </div>
{% endmacro %}


{# -- PROJECTS -- #}
{% macro listProjects(projects) %}
    {% for project in projects %}
        {{ _self.projectBlock(project) }}
    {% endfor %}
{% endmacro %}

{% macro projectBlock(project) %}
    <div class="col-lg-4">
        <h3>{{ project.name }}</h3>

        <p>{{ _self.bakeStatusLabel(project.bakeStatus) }}</p>

        <p>Contains <b>{{ project.environments|length }}</b>
            environment{% if project.environments|length != 1 %}s{% endif %}, <b>{{ project.repositories|length }}</b>
            linked {% if project.repositories|length == 1 %}repository{% else %}repositories{% endif %}</p>

        <p><a href="{{ path('admin_project', {'id': project.id}) }}" class="btn btn-default btn-sm">Details &raquo;</a>
        </p>
    </div>
{% endmacro %}

{% macro bakeStatusLabel(bake_status) %}
    {% if bake_status == 0 %}
        <span class="label label-danger">Unbaked</span>
    {% elseif bake_status == 1 %}
        <span class="label label-warning">Baking</span>
    {% elseif bake_status == 2 %}
        <span class="label label-success">Baked</span>
    {% endif %}
{% endmacro %}


{# -- REPOSITORIES -- #}
{% macro listRepositories(repositories) %}
    {% for repo in repositories %}
        {{ _self.repoBlock(repo) }}
    {% endfor %}
{% endmacro %}

{% macro repoBlock(repo) %}
    <div class="col-lg-4">
        <h3>{{ repo.name }}</h3>

        <p><span class="code">{{ repo.url }}</span></p>

        <p><a href="{{ path('admin_repository', {'id': repo.id}) }}"
              class="btn btn-default btn-sm">Details &raquo;</a></p>
    </div>
{% endmacro %}


{# -- CREDENTIALS -- #}
{% macro listCredentials(credentials) %}
    {% for credential in credentials %}
        {{ _self.credentialBlock(credential) }}
    {% endfor %}
{% endmacro %}

{% macro credentialBlock(credential) %}
    <div class="col-lg-4">
        <h3>{{ credential.name }}</h3>

        <p class="provider">
            {% if credential.provider == 0 %}<img src="/images/providers/aws_50.png" alt="Amazon Web Services"/>
            {% elseif credential.provider == 1 %}<img src="/images/providers/google_50.png" alt="Google Cloud"/>
            {% elseif credential.provider == 2 %}<img src="/images/providers/azure_50.png" alt="Windows Azure"/>
            {% endif %}
            {% if credential.region %}
                <span class="region">{{ credential.region }}</span>
            {% endif %}
        </p>

        <p><a href="{{ path('admin_credential', {'id': credential.id}) }}"
              class="btn btn-default btn-sm">Details &raquo;</a></p>
    </div>
{% endmacro %}


{# -- PROXIES -- #}
{% macro listProxies(proxies) %}
    {% for proxy in proxies %}
        {{ _self.proxyBlock(proxy) }}
    {% endfor %}
{% endmacro %}

{% macro proxyBlock(proxy) %}
    <div class="col-lg-4">
        <h3>{{ proxy.name }}</h3>

        <p>
            {% if proxy.type == 0 %}<b>SOCKS</b>
            {% elseif proxy.type == 1 %}<b>HTTP</b>
            {% endif %}
            <span class="region">{{ proxy.hostname }}:{{ proxy.port }}</span>
        </p>

        <p><a href="{{ path('admin_proxy', {'id': proxy.id}) }}" class="btn btn-default btn-sm">Details &raquo;</a></p>
    </div>
{% endmacro %}


{# -- ENVIRONMENTS -- #}
{% macro listEnvironments(environments) %}
    {% for environment in environments %}
        {{ _self.environmentBlock(environment) }}
    {% endfor %}
{% endmacro %}

{% macro environmentBlock(environment) %}
    <div class="col-lg-4">
        <h3>{{ environment.name }}</h3>

        <p>{{ _self.envTypeLabel(environment.environmentType) }}</p>

        <p class="code">{{ environment.instanceSize }} ({{ _self.envTenancy(environment.tenancy) }})</p>

        <div class="btn-group" style="margin-bottom: 15px">
            <a href="{{ path('admin_environment', {'id': environment.id}) }}" class="btn btn-default btn-sm">
                Details &raquo;</a>
            <a href="{{ path('admin_environment_duplicate', {'id': environment.id}) }}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-share"></span> Duplicate</a>
            {% if environment.environmentType == 0 %}
                <a href="javascript:engine.getAdmin().bakeDialogue({{ environment.id }}, '{{ environment.name|escape('html')|replace({"'": "\\'"}) }}')" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-hdd"></span> Bake</a>
            {% elseif environment.environmentType == 1 %}
                <a href="javascript:engine.getAdmin().buildDialogue({{ environment.project.id }}, {{ environment.id }})" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-cog"></span> Build</a>
            {% elseif environment.environmentType == 2 %}
                <a href="javascript:" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-globe"></span> Release</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro envTypeLabel(env_type) %}
    {% if env_type == 0 %}
        <span class="label label-default">Bakery</span>
    {% elseif env_type == 1 %}
        <span class="label label-warning">Test</span>
    {% elseif env_type == 2 %}
        <span class="label label-primary">Production</span>
    {% endif %}
{% endmacro %}

{%- macro envTenancy(tenancy) -%}
    {% if tenancy == 0 %}multi-tenant{% elseif env_type == 1 %}dedicated{% endif %}
{%- endmacro -%}
